body {
    padding: 0%;
    margin: 0%;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding: 30px;
    padding-left: 5%;
}

#title {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.card-view {
    text-align: center;
    margin-top: 2%;
    margin-left: 8%;
    padding: 5%;
    display: flex;
    background-color: rgb(185, 113, 113);
    width: 30%;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.card {
   width: 150px;
}

img {
    height: 130px;
}

button {
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: red;
    color: white;
}
